@use 'variables' as var;
@use 'responsitve' as resp;
@import 'common';

.history_detail_header,
.notice_header,
.history_header,
.main_header_dark {
  font-family: var.$font-body;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  @include resp.respond-to(xs) {
    height: 80px;
  }
  @include resp.respond-to(xl) {
    height: 100px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .d-logo {
    img {
      width: 100%;
      @include resp.respond-to(xs) {
        width: 72%;
      }
      @include resp.respond-to(lg) {
        width: 85%;
      }
      @include resp.respond-to(xl) {
        width: 90%;
      }
      @include resp.respond-to(xxl) {
        width: 100%;
      }
    }
  }

  .nav_menu {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;

        &:not(:last-child)::after {
          content: '';
          position: absolute;
          right: 0%;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 15px;
        }

        a {
          font-size: var.get-font-size(b3);
          font-weight: var.$font-weight-light;

          @include resp.respond-to(lg) {
            font-size: var.get-font-size(b4);
          }
          @include resp.respond-to(xl) {
            font-size: var.get-font-size(b3);
          }
        }
        .menu-history {
          padding-right: 1.5rem;
        }
        .menu-notice {
          padding-left: 1.5rem;
        }
      }
    }
  }

  // 햄버거 버튼 스타일 (공통)
  .menu-wrap {
    display: none;
    width: 19px;
    height: 19px;
    position: relative;
    cursor: pointer;
    z-index: 101;

    .line {
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 2px;
      left: 0;
      transition: all 0.3s ease;
      transform-origin: 50% 50%;
    }

    .line:first-child {
      top: 0;
      transition: 0.3s;
    }
    .line:nth-child(2) {
      top: 9px;
      transform: none;
    }
    .line:last-child {
      top: 18px;
      transition: 0.3s;
    }
  }

  // 햄버거 클릭 시 X 모양 변환 (공통)
  .menu-wrap.open {
    .line:first-child {
      transform: translateY(9px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:last-child {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  @include resp.respond-to(xs) {
    .nav_menu.desktop-nav {
      display: none;
    }
    .menu-wrap {
      display: block;
    }
  }

  @include resp.respond-to(lg) {
    .nav_menu.desktop-nav {
      display: block;
    }
    .menu-wrap {
      display: none;
    }
  }
}
.scroll_ani {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}

.scroll_ani.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.scroll_ani.show {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fixed-ani {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
.history_detail_header,
.notice_header {
  background-color: var.$color-secondary;

  .nav_menu {
    ul {
      li {
        &:not(:last-child)::after {
          background-color: rgba(var.$color-primary, 0.5);
        }
        a {
          color: var.$color-primary;
        }
      }
    }
  }
  .menu-wrap {
    .line {
      background-color: var.$color-primary;
    }
  }
}

.history_header,
.main_header_dark {
  background-color: transparent;

  .nav_menu {
    ul {
      li {
        &:not(:last-child)::after {
          background-color: rgba(var.$color-secondary, 0.5);
        }
        a {
          color: var.$color-secondary;
        }
      }
    }
  }
  .menu-wrap {
    .line {
      background-color: var.$color-secondary;
    }
  }
}
.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease, visibility 0s 0.3s;

  .nav_menu.mobile-nav {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 201;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    li {
      position: relative;
      &::after {
        content: none !important;
      }
    }

    a {
      color: var.$color-white;
      font-size: var.get-font-size(b3);
      font-weight: var.$font-weight-light;
      line-height: var.$line-height-160;
      text-decoration: none;
      display: block;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: #c3c2be;
      }
    }
    .menu-history {
      margin-bottom: 3.625rem;
    }
  }
}

.menu_overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s;
}

// notice/news tab_btn
.tab_btn01,
.tab_btn02 {
  display: flex;
  gap: 1.75rem;
}

.btn {
  padding: 1.063rem 2.125rem;
  font-family: var.$font-body;
  font-size: 26px;
  border-radius: 50px;
  cursor: pointer;

  &.btn-primary {
    background-color: var.$color-primary;
    color: var.$color-secondary;
    font-weight: var.$font-weight-medium;
  }

  &.btn-outline {
    background-color: #fff;
    color: var.$color-primary;
    border: 1px solid var.$color-primary;
    font-weight: var.$font-weight-regular;
  }
}
// detail_btn
.detail_btn {
  .d-btn {
    padding: 1.125rem 5.5rem;
    font-family: var.$font-body;
    font-size: var.get-font-size(b3);
    border-radius: 50px;
    line-height: var.$line-height-160;
    cursor: pointer;
    background-color: var.$color-primary;
    color: var.$color-secondary;
    font-weight: var.$font-weight-medium;
  }
}
// top_btn
.top_btn {
  border-radius: 50px;
  border: 1px solid var.$color-primary;
  background-color: var.$color-secondary;

  .t-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.625rem 1rem 0.625rem 2.5rem;
    background-color: transparent;
  }

  .t-btn p {
    font-family: var.$font-body;
    font-size: var.get-font-size(b2);
    color: var.$color-primary;
    font-weight: var.$font-weight-medium;
    margin: 0;
  }
  .t-icon {
    width: 100%;
    img {
      width: 47px;
    }
  }
}
// footer
.footer_main_content {
  background: var.$color-secondary;
  font-family: var.$font-body;
  color: var.$color-primary;
  width: 100%;
  position: relative;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.75rem;
    position: relative;
    justify-content: space-between;
  }

  .footer__row {
    gap: 0;
  }

  .footer_logo {
    width: 100%;
    height: auto;
    padding-top: 3.375rem;
    text-align: left;
    img {
      width: 180px;
      @include resp.respond-to(xs) {
        width: 122px;
        margin-bottom: 62px;
      }
      @include resp.respond-to(xxxl) {
        width: 180px;
        margin-bottom: map-get(var.$spacers, 20);
      }
    }
  }

  .f_bottom_content {
    display: flex;
    flex-direction: column;
  }

  .footer_text {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    @include resp.respond-to(xs) {
      margin-bottom: map-get(var.$spacers, 6);
    }
    @include resp.respond-to(sm) {
      margin-bottom: map-get(var.$spacers, 3);
    }
    @include resp.respond-to(xxxl) {
      margin: 0;
    }

    li {
      font-size: map-get(map-get(var.$font-sizes, default), 'b5');
      line-height: var.$line-height-140;
      font-weight: var.$font-weight-light;
      position: relative;
      padding-right: map-get(var.$spacers, 4);
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(b2, xs);
        padding-right: map-get(var.$spacers, 1);
      }
      @include resp.respond-to(xxxl) {
        font-size: map-get(map-get(var.$font-sizes, default), 'b5');
        padding-right: map-get(var.$spacers, 4);
      }
      &.phone {
        padding-left: 0;
      }

      &:not(:last-child)::after {
        content: '';
        display: block;
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        background-color: rgba(var.$color-primary, 0.5);
        z-index: 1;
        @include resp.respond-to(xs) {
          height: 9px;
          right: 4%;
        }
        @include resp.respond-to(xxxl) {
          height: 12px;
          right: 8%;
        }
      }
      &:last-child {
        @include resp.respond-to(xs) {
          margin-top: map-get(var.$spacers, 1);
        }
        @include resp.respond-to(sm) {
          margin-top: 0;
        }
      }

      @include resp.respond-to(xs) {
        &:nth-child(2)::after {
          content: none;
        }
      }
      @include resp.respond-to(sm) {
        &:nth-child(2)::after {
          content: '';
        }
      }
    }
  }

  .copy_title {
    padding: map-get(var.$spacers, 1) 0;
    margin-bottom: 1.813rem;
    text-align: left;
    @include resp.respond-to(xs) {
      margin-bottom: map-get(var.$spacers, 7);
      padding: 0;
    }
    @include resp.respond-to(xxxl) {
      padding: map-get(var.$spacers, 1) 0;
      margin-bottom: 1.813rem;
    }

    h5 {
      font-size: map-get(map-get(var.$font-sizes, default), 'b5');
      line-height: var.$line-height-140;
      font-weight: var.$font-weight-light;
      letter-spacing: var.$letter-spacing-3;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(b3, xs);
        line-height: var.$line-height-150;
      }
      @include resp.respond-to(xxxl) {
        font-size: map-get(map-get(var.$font-sizes, default), 'b5');
        line-height: var.$line-height-140;
      }
    }
  }

  .top_btn {
    display: flex;
    position: absolute;
    right: 0.5%;
    bottom: 10.5%;
    background-color: transparent;
    cursor: pointer;
    @include resp.respond-to(xs) {
      display: none;
    }

    @include resp.respond-to(lg) {
      display: block;
    }
  }
}
