@use "variables" as var;
@use "responsitve" as resp;
@use "common" as com;
@use "component" as cp;

.fp-watermark {
   display: none !important;
}

.section-inner {
   display: flex;
   flex-direction: column;
   justify-content: center; // 수직 중앙
   align-items: center; // 수평 중앙
   height: 100%;
   width: 100%;
}

// === header ===
.header_dark {
   width: 100%;
   position: fixed;
   top: 0;
   background-color: var.$color-primary;
   align-items: center;
   z-index: 100;
   .nav_menu {
      ul {
         gap: 0 28px;
         li {
            a {
               color: var.$color-white;
               font-weight: var.$font-weight-light;
            }
         }
      }
   }
}
// === header end ===

// === history-select ===
.history-select {
   background: var.$color-primary;

   &__sec01 {
      // justify-content: first baseline;
      .container {
         margin: 87px auto;
         .row {
            gap: 0;
         }
      }
      .history-select__bar {
         display: flex;
         justify-content: right;
         margin-bottom: map-get(var.$spacers, 13);
      }
      .sec01__content {
         display: flex;
         flex-direction: column;
         gap: 147px 0;
         @include resp.respond-to(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }
      }
      .content-title {
         span {
            font-family: var.$font-point;
            font-size: var.get-font-size(t1, xs);
            font-weight: var.$font-weight-regular;
            line-height: var.$line-height-120;
            letter-spacing: var.$letter-spacing-3;
            color: transparent;
            -webkit-text-stroke: 1px var.$color-white;
            display: inline-block;
            text-align: center;
            @include resp.respond-to(lg) {
               font-size: var.get-font-size(t2, default);
            }
         }
      }
      .main-content {
         max-width: 306px;
         width: 100%;
         align-items: center;
         overflow: hidden;
         position: relative;

         @include resp.respond-to(lg) {
            max-width: 1184px;
         }

         .mySwiper {
            max-width: 306px;
            width: 100%;

            @include resp.respond-to(lg) {
               max-width: 950px;
            }
         }

         .swiper-box {
            max-width: 306px;
            width: 100%;
            text-decoration: none;
            @include resp.respond-to(lg) {
               max-width: 950px;
            }
            .swiper-slide {
               max-width: 138px;
               width: 100% !important;
               @include resp.respond-to(lg) {
                  max-width: 290px;
               }
               .slide__content-title {
                  span {
                     font-family: var.$font-point;
                     font-size: var.get-font-size(t2, xs);
                     font-weight: var.$font-weight-regular;
                     line-height: var.$line-height-120;
                     letter-spacing: var.$letter-spacing-3;
                     color: transparent;
                     -webkit-text-stroke: 1px var.$color-white;
                     display: flex;
                     justify-content: left;
                     padding: map-get(var.$spacers, 4) 0;
                     @include resp.respond-to(lg) {
                        font-size: var.get-font-size(t3, default);
                        padding: map-get(var.$spacers, 8) 0;
                     }
                  }
                  &::before {
                     content: "";
                     display: block;
                     width: 138px;
                     height: 1px;
                     background-color: var.$color-white;
                     @include resp.respond-to(lg) {
                        width: 290px;
                     }
                  }
                  &::after {
                     content: "";
                     display: block;
                     width: 56px;
                     height: 1px;
                     background-color: var.$color-white;
                     @include resp.respond-to(lg) {
                        width: 81px;
                     }
                  }
               }
               .slide__content-body {
                  padding-top: 30px;
                  @include resp.respond-to(lg) {
                     padding-top: 47px;
                  }
                  p {
                     font-family: var.$font-body;
                     font-size: var.get-font-size(b2, xs);
                     font-weight: var.$font-weight-light;
                     line-height: var.$line-height-120;
                     letter-spacing: var.$letter-spacing-3;
                     color: var.$color-white;
                     text-align: left;
                     padding-bottom: map-get(var.$spacers, 3);
                     @include resp.respond-to(lg) {
                        font-size: var.get-font-size(b3, default);
                     }
                     &:last-child {
                        padding-bottom: 0;
                     }
                  }
               }
            }
         }
         button {
            display: none;
            max-width: 52px;
            width: 100%;
            background: none;
            border: none;
            @include resp.respond-to(lg) {
               display: block;
            }
         }
         .swiper-button-next {
            &::after {
               display: none;
            }
         }
         .swiper-button-prev {
            &::after {
               display: none;
            }
         }
      }
   }
}
// === history-select end ===

// === history-content ===
.header__history-content {
   background-color: transparent;
}

.menu {
   position: fixed;
   bottom: 53px;
   left: 180px;
   z-index: 99;
   display: flex;
   gap: 24px 58px;
   flex-direction: column;
   @include resp.respond-to(lg) {
      flex-direction: row;
   }

   li {
      a {
         font-family: var.$font-body;
         font-size: var.get-font-size(b1, xs);
         font-weight: var.$font-weight-light;
         color: var.$color-white;
         text-decoration: none;
         @include resp.respond-to(lg) {
            font-size: var.get-font-size(b2, default);
         }
      }
      &::after {
         content: "";
         display: block;
         width: 74px;
         height: 2px;
         background-color: var.$color-white;
         margin-top: 17px;
         z-index: 151;
         transform: scaleX(0);
         transform-origin: left;
         transition: transform 0.3s ease-in-out;
      }
      &:hover:after {
         transform: scaleX(1);
      }
      &.active:after {
         transform: scaleX(1);
      }
      &:last-child {
         display: none;
      }
   }
}

.history-content {
   // position: relative;

   &__sec01 {
      background-image: url("../images/_Content_img1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .sec01__content {
         display: flex;
         flex-direction: column;
         gap: 50px 0;
         padding-bottom: 50px;
         @include resp.respond-to(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }

         .content-title {
            span {
               font-family: var.$font-body;
               font-size: var.get-font-size(t4, xs);
               font-weight: var.$font-weight-medium;
               line-height: var.$line-height-120;
               letter-spacing: var.$letter-spacing-3;
               color: var.$color-white;
               @include resp.respond-to(lg) {
                  font-size: var.get-font-size(t3, default);
                  line-height: var.$line-height-140;
               }
            }
         }
         .content-body {
            width: 41.66667%;
            p {
               font-family: var.$font-body;
               font-size: var.get-font-size(b1, xs);
               font-weight: var.$font-weight-light;
               line-height: var.$line-height-160;
               color: var.$color-white;
               @include resp.respond-to(lg) {
                  font-size: var.get-font-size(b2, default);
               }
            }
            .v-max {
               height: 4vmax;
            }
            button {
               width: 52px;
               height: 52px;
               background: none;
               border: none;
            }
         }
      }
   }
}
// === history-content end ===

// === history-detail ===
.history_detail_header {
   background-color: transparent;
   height: 80px;
   @include resp.respond-to(lg) {
      height: 100px;
   }
}

.history-detail {
   height: 100vh;
   background-color: var.$color-secondary;
   overflow: hidden;
   padding-top: 100px;
   @include resp.respond-to(lg) {
      height: 882px;
      padding-top: 130px;
   }
   @include resp.respond-to(xl) {
      height: 937px;
      padding-top: 158px;
   }
   @include resp.respond-to(xxl) {
      height: 100vh;
      padding-top: 158px;
   }

   .container {
      @include resp.respond-to(xxxl) {
         max-width: 1560px;
         padding: 0;
      }
      .center-line {
         @include resp.respond-to(lg) {
            display: flex;
            justify-content: right;
            
            &::after {
               content: "";
               display: block;
               width: 1px;
               height: 100%;
               margin-left: 50px;
               background-color: var.$color-primary;
            }
         }
      }
   }
   .history-detail__row {
      flex-direction: column;
      @include resp.respond-to(lg) {
         flex-direction: row;
      }
      .col-6 {
         @include resp.respond-to(lg) {
            width: calc(50% - 0.75rem); // gap의 절반을 뺌
         }
      }
   }

   &__left-content {
      max-width: 680px;
      width: 100%;
      .content-title {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 13px;
         @include resp.respond-to(lg) {
            margin-bottom: 20px;
         }
         @include resp.respond-to(xxl) {
            margin-bottom: 56px;
         }
         h1 {
            font-family: var.$font-body;
            font-size: var.get-font-size(h1, xs);
            font-weight: var.$font-weight-medium;
            line-height: var.$line-height-140;
            color: var.$color-primary;
            @include resp.respond-to(lg) {
               font-size: var.get-font-size(h1, default);
               line-height: var.$line-height-160;
            }
         }
         span {
            font-family: var.$font-body;
            font-size: var.get-font-size(b1, xs);
            font-weight: var.$font-weight-regular;
            line-height: var.$line-height-140;
            color: var.$color-primary;
            display: flex;
            align-items: center;
            gap: 0 16px;

            @include resp.respond-to(lg) {
               font-size: var.get-font-size(b1, default);
               line-height: var.$line-height-160;
            }

            &::before {
               content: "";
               display: block;
               width: 20px;
               height: 1px;
               background-color: var.$color-primary;

               @include resp.respond-to(lg) {
                  width: 42px;
               }
            }
         }
      }
      img {
         width: 100%;
      }
   }

   &__right-content {
      padding-top: 24px;
      @include resp.respond-to(lg) {
         max-width: 680px;
         width: 100%;
         padding-top: 78px;
      }
      @include resp.respond-to(xxl) {
         padding-top: 171px;
      }
      .content-text {
         p {
            font-family: var.$font-body;
            font-size: var.get-font-size(b1, xs);
            font-weight: var.$font-weight-regular;
            line-height: var.$line-height-160;
            color: var.$color-primary;
            @include resp.respond-to(lg) {
               font-size: var.get-font-size(b1, default);
            }
         }
      }
   }
}
// === history-detail end ===
