@use "variables" as var;
@use "responsitve" as resp;
@use "common" as com;
@use "component" as cp;

.fp-watermark {
   display: none !important;
}

.section-inner {
   display: flex;
   flex-direction: column;
   justify-content: center; // 수직 중앙
   align-items: center; // 수평 중앙
   height: 100%;
   width: 100%;
}

// === header ===
.header_dark {
   width: 100%;
   position: fixed;
   top: 0;
   background-color: var.$color-primary;
   align-items: center;
   z-index: 100;
   .nav_menu {
      ul {
         gap: 0 28px;
         li {
            a {
               color: var.$color-white;
               font-weight: var.$font-weight-light;
            }
         }
      }
   }
}
// === header end ===

// === history-select ===
.history-select {
   background: var.$color-primary;
   
   .fp-table{
      flex-direction: row;
   }

   &__sec01 {
      // justify-content: first baseline;
      .container {
         margin: 87px auto;
         .row {
            gap: 0;
         }
      }
      .history-select__bar {
         display: none;
         @include resp.respond-to(lg) {
            display: flex;
            justify-content: right;
            margin-bottom: map-get(var.$spacers, 13);
         }
      }
      .sec01__content {
         display: flex;
         flex-direction: column;
         gap: 147px 0;
         @include resp.respond-to(sm) {
            gap: 80px 0;
         }
         @include resp.respond-to(md) {
            gap: 60px 0;
         }
         @include resp.respond-to(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }
      }
      .content-title {
         span {
            font-family: var.$font-point;
            font-size: var.get-font-size(t1, xs);
            font-weight: var.$font-weight-regular;
            line-height: var.$line-height-120;
            letter-spacing: var.$letter-spacing-3;
            color: transparent;
            -webkit-text-stroke: 0.7px var.$color-white;
            display: inline-block;
            text-align: center;
            @include resp.respond-to(sm) {
               font-size: 70px;
            }
            @include resp.respond-to(md) {
               font-size: 76px;
            }
            @include resp.respond-to(lg) {
               font-size: 100px;
               -webkit-text-stroke: 1px var.$color-white;
            }
            @include resp.respond-to(xxl) {
               font-size: var.get-font-size(t2, default);
            }
         }
      }
      .main-content {
         max-width: 1184px;
         // max-width: 342px;
         width: 100%;
         align-items: center;
         overflow: hidden;
         position: relative;

         @include resp.respond-to(lg) {
            max-width: 652px;
         }
         @include resp.respond-to(xl) {
            max-width: 800px;
         }
         @include resp.respond-to(xxl) {
            max-width: 950px;
         }
         @include resp.respond-to(xxxl) {
            max-width: 1184px;
         }

         .mySwiper {
            max-width: 950px;
            // max-width: 342px;
            width: 100%;
            // overflow: hidden;

            @include resp.respond-to(lg) {
               max-width: 488px;
            }
            @include resp.respond-to(xl) {
               max-width: 636px;
            }
            @include resp.respond-to(xxl) {
               max-width: 750px;
            }
            @include resp.respond-to(xxxl) {
               max-width: 950px;
            }
         }

         .swiper-box {
            // max-width: 342px;
            width: 100%;
            text-decoration: none;
            margin: 0;
            // overflow: hidden;
            @include resp.respond-to(lg) {
               max-width: 488px;
               margin: 0 auto;
            }
            @include resp.respond-to(xl) {
               max-width: 636px;
            }
            @include resp.respond-to(xxl) {
               max-width: 750px;
            }
            @include resp.respond-to(xxxl) {
               max-width: 950px;
            }
            .swiper-slide {
               max-width: 158px;
               width: 100% !important;
               @include resp.respond-to(sm) {
                  max-width: 255px;
               }
               @include resp.respond-to(md) {
                  max-width: 220px;
               }
               @include resp.respond-to(md) {
                  max-width: 220px;
               }
               @include resp.respond-to(lg) {
                  max-width: 229px;
               }
               @include resp.respond-to(xl) {
                  max-width: 212px;
               }
               @include resp.respond-to(xxl) {
                  max-width: 250px;
               }
               @include resp.respond-to(xxxl) {
                  max-width: 290px;
               }
               .slide__content-title {
                  span {
                     display: inline-block;
                     color: transparent;
                     font-family: var.$font-point;
                     font-size: var.get-font-size(t2, xs);
                     font-weight: var.$font-weight-light;
                     line-height: var.$line-height-120;
                     letter-spacing: var.$letter-spacing-3;
                     padding: map-get(var.$spacers, 4) 0;
          
                     // 기본: 아웃라인만
                     -webkit-text-stroke: 0.7px var.$color-white;
                     background: linear-gradient(90deg, var.$color-white 50%, transparent 50%);
                     background-size: 200% 100%;
                     background-position: right bottom; // ← 기본값(오른쪽이 채워지지 않은 상태)
                     -webkit-background-clip: text;
                     background-clip: text;
                     transition:
                        background-position 0.7s cubic-bezier(0.55, 0, 0.1, 1),
                        -webkit-text-stroke 0.3s;
          
                     &:hover {
                        background-position: left bottom; // ← 왼→오로 채워짐
                        //  -webkit-text-stroke: 0;
                     }
                     @include resp.respond-to(sm) {
                        padding: map-get(var.$spacers, 5) 0;
                        font-size: 66px
                     }
                     @include resp.respond-to(md) {
                        padding: map-get(var.$spacers, 5) 0;
                        font-size: 58px
                     }
                     @include resp.respond-to(lg) {
                        // font-size: 60px;
                        font-size: 70px;
                        font-weight: var.$font-weight-regular;
                        padding: map-get(var.$spacers, 8) 0;
                        -webkit-text-stroke: 1px var.$color-white;
                     }
                     @include resp.respond-to(xxl) {
                        font-size: 82px;
                     }
                     @include resp.respond-to(xxxl) {
                        font-size: var.get-font-size(t3, default);
                     }
                  }
                  &::before {
                     content: "";
                     display: block;
                     width: 158px;
                     height: 1px;
                     background-color: var.$color-white;
                     @include resp.respond-to(sm) {
                        width: 230px;
                     }
                     @include resp.respond-to(md) {
                        width: 220px;
                     }
                     @include resp.respond-to(lg) {
                        width: 229px;
                     }
                     @include resp.respond-to(xl) {
                        width: 212px;
                     }
                     @include resp.respond-to(xxl) {
                        width: 250px;
                     }
                     @include resp.respond-to(xxxl) {
                        width: 290px;
                     }
                  }
                  &::after {
                     content: "";
                     display: block;
                     width: 76px;
                     height: 1px;
                     background-color: var.$color-white;
                     @include resp.respond-to(lg) {
                        width: 81px;
                     }
                  }
               }
               .slide__content-body {
                  padding-top: 30px;
                  @include resp.respond-to(lg) {
                     padding-top: 47px;
                  }
                  p {
                     font-family: var.$font-body;
                     font-size: var.get-font-size(b2, xs);
                     font-weight: var.$font-weight-light;
                     line-height: var.$line-height-120;
                     letter-spacing: var.$letter-spacing-3;
                     color: var.$color-white;
                     text-align: left;
                     padding-bottom: map-get(var.$spacers, 3);
                     @include resp.respond-to(lg) {
                        font-size: var.get-font-size(b3, default);
                     }
                     &:last-child {
                        padding-bottom: 0;
                     }
                  }
               }
            }
         }
         button {
            display: none;
            max-width: 52px;
            width: 100%;
            background: none;
            border: none;
            @include resp.respond-to(lg) {
               display: block;
            }
         }
         .swiper-button-next {
            &::after {
               display: none;
            }
         }
         .swiper-button-prev {
            &::after {
               display: none;
            }
         }
      }
   }
}
// === history-select end ===


// === history-content ===
.header__history-content {
   background-color: transparent;
}

.menu {
   position: fixed;
   bottom: 37px;
   left: 16px;
   z-index: 99;
   display: flex;
   gap: 15px 58px;
   flex-direction: column;
   @include resp.respond-to(sm) {
      left: 36.5px;
   }
   @include resp.respond-to(md) {
      left: 55.5px;
   }
   @include resp.respond-to(lg) {
      flex-direction: row;
      left: 37.5px;
   }
   @include resp.respond-to(xl) {
      left: 81.5px;
   }
   @include resp.respond-to(xxl) {
      left: 59.5px;
   }
   @include resp.respond-to(xxxl) {
      left: 180px;
   }

   li {
      a {
         font-family: var.$font-body;
         font-size: var.get-font-size(b1, xs);
         font-weight: var.$font-weight-light;
         color: var.$color-gray-500;
         text-decoration: none;
         @include resp.respond-to(lg) {
            font-size: var.get-font-size(b2, default);
         }
         &:hover {
            color: var.$color-white;
            transition: color 0.3s ease-in-out;
         }
      }
      &::after {
         content: "";
         display: block;
         width: 74px;
         height: 2px;
         background-color: var.$color-white;
         
         z-index: 151;
         transform: scaleX(0);
         transform-origin: left;
         transition: transform 0.3s ease-in-out;

         @include resp.respond-to(lg) {
            margin-top: 17px;
         }
      }
      &.active {
         a {
            color: var.$color-white;
            transition: color 0.3s ease-in-out;

         }
         &::after {
            transform: scaleX(1);
            margin-top: 17px;
         }
      }
      &:last-child {
         display: none;
      }
   }
}

.history-content {
   position: relative;

   &__sec01 {
      background-image: url("../images/_Content_img1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .section-inner {
         padding-bottom: 147px;
         @include resp.respond-to(sm) {
            padding-bottom: 100px;
         }
         @include resp.respond-to(lg) {
            padding-bottom: 0;
         }
      }

      .sec01__content {
         display: flex;
         flex-direction: column;
         gap: 50px 0;
         padding-bottom: 50px;
         @include resp.respond-to(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }

         .content-title {
            span {
               font-family: var.$font-body;
               font-size: var.get-font-size(t4, xs);
               font-weight: var.$font-weight-medium;
               line-height: var.$line-height-120;
               letter-spacing: var.$letter-spacing-3;
               color: var.$color-white;
               @include resp.respond-to(md) {
                  font-size: 45px;
                  line-height: var.$line-height-140;
               }
               @include resp.respond-to(lg) {
                  font-size: 55px;
                  line-height: var.$line-height-140;
               }
               @include resp.respond-to(xl) {
                  font-size: 66px;
               }
               @include resp.respond-to(xxl) {
                  font-size: 76px;
               }
               @include resp.respond-to(xxxl) {
                  font-size: var.get-font-size(t3, default);
               }
            }
         }
         .content-body {
            @include resp.respond-to(md) {
               width: 80%;
            }
            @include resp.respond-to(lg) {
               width: 45%;
            }
            @include resp.respond-to(xl) {
               width: 41.66667%;
               // width: 636/1560=;
            }
            p {
               font-family: var.$font-body;
               font-size: var.get-font-size(b1, xs);
               font-weight: var.$font-weight-thin;
               line-height: var.$line-height-160;
               color: var.$color-white;
               @include resp.respond-to(lg) {
                  font-size: var.get-font-size(b2, default);
               }
            }
            .v-max {
               height: 4vmax;
               @include resp.respond-to(lg) {
                  height: 5vmax;
               }
            }
            button {
               width: 40px;
               height: 40px;
               background: none;
               border: none;
               @include resp.respond-to(lg) {
                  width: 52px;
                  height: 52px;
               }
               img{
                  width: 100%;
               }
            }
         }
      }
   }
}
// === history-content end ===

// === history-detail ===
.history_detail_header {
   background-color: transparent;
   height: 80px;
   @include resp.respond-to(lg) {
      height: 100px;
   }
}

.history-detail {
   height: 100vh;
   background-color: var.$color-secondary;
   overflow: hidden;
   padding-top: 100px;
   @include resp.respond-to(lg) {
      height: 882px;
      padding-top: 130px;
   }
   @include resp.respond-to(xl) {
      height: 937px;
      padding-top: 158px;
   }
   @include resp.respond-to(xxl) {
      height: 100vh;
      padding-top: 158px;
   }

   &__content{
      display: flex;
      flex-direction: column;
      gap: 24px 0;

      @include resp.respond-to(lg) {
         flex-direction: row;
         justify-content: space-between;
      }
      .left-content {
         // max-width: 680px;
         width: 100%;
         @include resp.respond-to(lg) {
            width: calc(50% - 3.125rem); // gap의 절반을 뺌
            }
      
         .content-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 13px;
            @include resp.respond-to(lg) {
               margin-bottom: 20px;
            }
            @include resp.respond-to(xxl) {
               margin-bottom: 46px;
            }

            h1 {
               font-family: var.$font-body;
               font-size: var.get-font-size(h1, xs);
               font-weight: var.$font-weight-medium;
               line-height: var.$line-height-140;
               color: var.$color-primary;
               @include resp.respond-to(md) {
                  font-size: 48px;
                  line-height: var.$line-height-160;
               }
               @include resp.respond-to(lg) {
                  font-size: 52px;
               }
               @include resp.respond-to(xl) {
                  font-size: 60px;
               }
               @include resp.respond-to(xxl) {
                  font-size: 66px;
               }
               @include resp.respond-to(xxxl) {
                  font-size: var.get-font-size(h1, default);
               }
            }
            span {
               font-family: var.$font-body;
               font-size: var.get-font-size(b1, xs);
               font-weight: var.$font-weight-regular;
               line-height: var.$line-height-140;
               color: var.$color-primary;
               display: flex;
               align-items: center;
               gap: 0 16px;
   
               @include resp.respond-to(md) {
                  font-size: 18px;
                  line-height: var.$line-height-160;
               }
               @include resp.respond-to(xl) {
                  font-size: 22px;
               }
               @include resp.respond-to(xxl) {
                  font-size: var.get-font-size(b1, default);
               }
   
               &::before {
                  content: "";
                  display: block;
                  width: 20px;
                  height: 1px;
                  background-color: var.$color-primary;
   
                  @include resp.respond-to(lg) {
                     width: 42px;
                  }
               }
            }
         }
         img {
            width: 100%;
         }
      }
   
      .center-line{
         display: none;

         @include resp.respond-to(lg) {
            display: flex;
            justify-content: center;
            
            &::after {
               content: "";
               display: block;
               width: 1px;
               height: 100%;
               // margin-left: 50px;
               background-color: rgba(var.$color-primary, 0.2);            
            }
         }
      }
   
      .right-content {
         @include resp.respond-to(lg) {
            max-width: calc(50% - 3.125rem);
            width: 100%;
            padding-top: 94px;
         }
         @include resp.respond-to(xl) {
            padding-top: 107px;
         }
         @include resp.respond-to(xxl) {
            padding-top: 155px;
         }
         @include resp.respond-to(xxxl) {
            padding-top: 152px;
         }
         .content-text {
            p {
               font-family: var.$font-body;
               font-size: var.get-font-size(b1, xs);
               font-weight: var.$font-weight-regular;
               line-height: var.$line-height-160;
               color: var.$color-primary;
               @include resp.respond-to(sm) {
                  font-size: 20px;
               }
               @include resp.respond-to(md) {
                  font-size: 22px;
               }
               @include resp.respond-to(lg) {
                  font-size: 20px;
               }
               @include resp.respond-to(xl) {
                  font-size: 22px;
               }
               @include resp.respond-to(xxl) {
                  font-size: var.get-font-size(b1, default);
               }
            }
         }
      }
   }
}
// === history-detail end ===
