@use 'variables' as var;
@use 'responsitve' as resp;
@use 'common' as com;
@use 'component' as cp;
.fp-watermark {
  display: none !important;
}
.fp-table {
  justify-content: inherit;
}
body {
  .history_detail_header,
  .notice_header {
    opacity: 0;
  }
  .sec_height {
    height: 100vh;
    // 모바일 (xs: 0) - 375px 너비 기준 812px 높이
    @include resp.respond-to(xs) {
      height: 812px; // 또는 min-height: 812px;
      overflow-y: auto;
    }

    // Small devices (sm: 576px) - 작은 태블릿 세로 또는 큰 모바일 가로
    @include resp.respond-to(sm) {
      height: 960px; // 또는 min-height: 960px;
    }

    // Medium devices (md: 768px) - 태블릿 세로
    @include resp.respond-to(md) {
      height: 1024px; // 또는 min-height: 1024px;
    }

    // Large devices (lg: 992px) - 작은 노트북 또는 태블릿 가로
    @include resp.respond-to(lg) {
      height: 768px; // 또는 min-height: 768px;
      overflow-y: hidden; // 데스크탑 환경에서는 스크롤 숨김
    }

    // Extra large devices (xl: 1200px) - 일반 노트북/데스크탑
    @include resp.respond-to(xl) {
      height: 900px; // 또는 min-height: 900px;
    }

    // Extra extra large (xxl: 1400px) - 큰 데스크탑
    @include resp.respond-to(xxl) {
      height: 950px; // 또는 min-height: 950px;
    }

    // Extra extra extra large (xxxl: 1580px) - 매우 큰 데스크탑
    @include resp.respond-to(xxxl) {
      height: 100vh; // 또는 height: 1080px; (화면을 꽉 채우는 경우)
    }
  }
}

// header finish
// main_section

/* 원형 SVG 회전 애니메이션 정의 */
@keyframes rotateCircle {
  from {
    transform: rotate(0deg); /* 0도에서 시작 */
  }
  to {
    transform: rotate(360deg); /* 360도까지 회전 */
  }
}

.section {
  .main_section {
    font-family: var.$font-body;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-color: var.$color-black;
    @include resp.respond-to(xs) {
      min-height: 60vh;
      overflow-y: auto;
    }

    @include resp.respond-to(sm) {
      min-height: 70vh;
    }

    @include resp.respond-to(md) {
      min-height: 75vh;
    }

    @include resp.respond-to(lg) {
      min-height: 80vh;
      overflow-y: hidden;
    }

    @include resp.respond-to(xl) {
      min-height: 85vh;
    }

    @include resp.respond-to(xxl) {
      min-height: 90vh;
    }

    @include resp.respond-to(xxxl) {
      height: 100vh;
    }

    .row {
      @include resp.respond-to(xs) {
        gap: 0;
      }

      @include resp.respond-to(xxxl) {
        gap: 1.5rem;
      }
    }
    .title_content_wrapper {
      color: #fff;
      line-height: var.$line-height-140;
      position: relative;
      margin: auto;
      justify-content: center;
      margin-top: map-get(var.$spacers, 22);
      @include resp.respond-to(xs) {
        margin-top: map-get(var.$spacers, 29);
      }
      @include resp.respond-to(sm) {
        margin-top: 17.5rem;
      }
      @include resp.respond-to(lg) {
        margin-top: map-get(var.$spacers, 23);
      }
      @include resp.respond-to(xl) {
        margin-top: 11.625rem;
      }
      @include resp.respond-to(xxl) {
        margin-top: 8.5rem;
      }
      @include resp.respond-to(xxxl) {
        margin-top: map-get(var.$spacers, 22);
      }
      .circle_img {
        width: 100%;
        margin: auto;
        img {
          width: 635px;
          @include resp.respond-to(xs) {
            width: 276px;
          }
          @include resp.respond-to(sm) {
            width: 350px;
          }
          @include resp.respond-to(md) {
            width: 400px;
          }
          @include resp.respond-to(lg) {
            width: 450px;
          }
          @include resp.respond-to(xl) {
            width: 500px;
          }
          @include resp.respond-to(xxl) {
            width: 600px;
          }
          @include resp.respond-to(xxxl) {
            width: 635px;
          }
        }
      }

      .title_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          font-weight: 200;
          font-size: var.get-font-size(h3);
          white-space: nowrap;
          line-height: var.$line-height-140;
          @include resp.respond-to(xs) {
            font-size: var.get-font-size(h4, xs);
          }
          @include resp.respond-to(sm) {
            font-size: var.get-font-size(b1);
          }
          @include resp.respond-to(md) {
            font-size: var.get-font-size(h3, xs);
          }
          @include resp.respond-to(lg) {
            font-size: var.get-font-size(h2, xs);
          }
          @include resp.respond-to(xl) {
            font-size: var.get-font-size(h1, xs);
          }
          @include resp.respond-to(xxl) {
            font-size: var.get-font-size(h3);
          }
        }

        h2 {
          font-weight: 600;
          font-size: var.get-font-size(h3);
          line-height: var.$line-height-140;
          @include resp.respond-to(xs) {
            font-size: var.get-font-size(h4, xs);
          }
          @include resp.respond-to(sm) {
            font-size: var.get-font-size(b1);
          }
          @include resp.respond-to(md) {
            font-size: var.get-font-size(h3, xs);
          }
          @include resp.respond-to(lg) {
            font-size: var.get-font-size(h2, xs);
          }
          @include resp.respond-to(xl) {
            font-size: var.get-font-size(h1, xs);
          }
          @include resp.respond-to(xxl) {
            font-size: var.get-font-size(h3);
          }
        }

        p {
          font-weight: 200;
          font-size: var.get-font-size(b3);
          padding-top: 3rem;
          @include resp.respond-to(xs) {
            font-size: var.get-font-size(b3, xs);
            padding-top: map-get(var.$spacers, 3);
          }
          @include resp.respond-to(sm) {
            font-size: var.get-font-size(b2, xs);
            padding-top: map-get(var.$spacers, 3);
          }
          @include resp.respond-to(lg) {
            font-size: var.get-font-size(b4);
            padding-top: map-get(var.$spacers, 4);
          }
          @include resp.respond-to(xl) {
            font-size: var.get-font-size(b3);
            padding-top: map-get(var.$spacers, 5);
          }
          @include resp.respond-to(xxl) {
            padding-top: map-get(var.$spacers, 6);
          }
          @include resp.respond-to(xxxl) {
            padding-top: 3rem;
          }
        }
      }
    }
    .scroll_down_btn {
      margin: auto;
      text-align: center;
      margin-top: 1.75rem;
      @include resp.respond-to(xs) {
        margin-top: 14.125rem;
      }
      @include resp.respond-to(sm) {
        margin-top: 14.625rem;
      }
      @include resp.respond-to(md) {
        margin-top: 15.5rem;
      }
      @include resp.respond-to(lg) {
        margin-top: map-get(var.$spacers, 12);
      }
      @include resp.respond-to(xl) {
        margin-top: map-get(var.$spacers, 20);
      }
      @include resp.respond-to(xxl) {
        margin-top: 7.2rem;
      }
      @include resp.respond-to(xxxl) {
        margin-top: map-get(var.$spacers, 8);
      }
      p {
        font-family: var.$font-body;
        font-weight: 200;
        font-size: var.get-font-size(b4);
        color: var.$color-secondary;
        margin-bottom: 1.375rem;

        @include resp.respond-to(xs) {
          font-size: var.get-font-size(b2, xs);
        }
        @include resp.respond-to(lg) {
          font-size: var.get-font-size(b1, xs);
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b4);
        }
      }

      img {
        margin: auto;
        width: auto;
        height: auto;
      }
    }
  }
}

// main_section finish
// main_section01
.main_section01 {
  font-family: var.$font-body;
  background-color: var.$color-secondary;
  position: relative;
  .main_sec01_wrap {
    @include resp.respond-to(xs) {
      min-height: 60vh;
      overflow-y: auto;
    }

    @include resp.respond-to(sm) {
      min-height: 70vh;
    }

    @include resp.respond-to(md) {
      min-height: 75vh;
    }

    @include resp.respond-to(lg) {
      min-height: 80vh;
      overflow-y: hidden;
    }

    @include resp.respond-to(xl) {
      min-height: 85vh;
    }

    @include resp.respond-to(xxl) {
      min-height: 90vh;
    }

    @include resp.respond-to(xxxl) {
      height: 100vh;
    }
  }
  .history_detail_header,
  .notice_header {
    opacity: 1;
  }
  .sec01_title {
    text-align: left;
    margin-top: 7.938rem;
    @include resp.respond-to(xs) {
      margin-top: 9.75rem;
    }
    @include resp.respond-to(md) {
      margin-top: 10.75rem;
    }
    @include resp.respond-to(xxxl) {
      margin-top: 7.938rem;
    }
    .first_text {
      color: var.$color-black;
      font-size: var.get-font-size(t3);
      font-weight: var.$font-weight-bold;
      letter-spacing: var.$letter-spacing-3;
      line-height: var.$line-height-120;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(h1, xs);
      }
      @include resp.respond-to(sm) {
        font-size: var.get-font-size(t3, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(t1, xs);
      }
      @include resp.respond-to(lg) {
        font-size: var.get-font-size(h3);
      }
      @include resp.respond-to(xl) {
        font-size: var.get-font-size(t4);
      }
      @include resp.respond-to(xxl) {
        font-size: var.get-font-size(t4);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(t3);
      }
    }
    span {
      color: transparent;
      font-size: var.get-font-size(t3);
      font-weight: var.$font-weight-bold;
      letter-spacing: var.$letter-spacing-3;
      line-height: var.$line-height-120;
      -webkit-text-stroke-width: 0.7px;
      -webkit-text-stroke-color: var.$color-black;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(h1, xs);
      }
      @include resp.respond-to(sm) {
        font-size: var.get-font-size(t3, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(t1, xs);
      }
      @include resp.respond-to(lg) {
        font-size: var.get-font-size(h3);
      }
      @include resp.respond-to(xl) {
        font-size: var.get-font-size(t4);
      }
      @include resp.respond-to(xxl) {
        font-size: var.get-font-size(t4);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(t3);
      }
    }
  }

  .sec01_bar {
    position: absolute;
    top: 39%;
    left: 41%;
    @include resp.respond-to(xs) {
      top: 36%;
      left: 50%;
    }
    @include resp.respond-to(md) {
      top: 41%;
      left: 30%;
    }
    @include resp.respond-to(lg) {
      top: 43%;
      left: 32%;
    }
    @include resp.respond-to(xl) {
      top: 42%;
      left: 33%;
    }
    @include resp.respond-to(xxl) {
      top: 41%;
      left: 34%;
    }
    @include resp.respond-to(xxxl) {
      top: 39%;
      left: 41%;
    }
    img {
      width: auto;
      height: auto;
      @include resp.respond-to(xs) {
        height: 44px;
      }
      @include resp.respond-to(md) {
        height: 52px;
      }
      @include resp.respond-to(xxxl) {
        height: 92px;
      }
    }
  }
  .justify-end {
    justify-content: end;
    .sec01_content_title {
      text-align: left;
      p {
        color: #262425;
        font-size: var.get-font-size(b2);
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-160;
        position: absolute;
        top: 53%;
        right: 5%;
        @include resp.respond-to(xs) {
          font-size: var.get-font-size(b2, xs);
          top: 48%;
          right: 0;
          padding: 0 1rem;
        }
        @include resp.respond-to(sm) {
          font-size: 1rem;
          top: 50%;
          padding: 0 2.125rem;
        }
        @include resp.respond-to(md) {
          top: 58%;
          padding: 0 2.5rem;
        }
        @include resp.respond-to(lg) {
          font-size: var.get-font-size(b4);
          top: 54%;
          padding: 0 2rem;
        }
        @include resp.respond-to(xl) {
          font-size: var.get-font-size(b3);
          padding: 0 2.875rem;
        }
        @include resp.respond-to(xxl) {
          top: 53%;
          right: 2%;
          padding: 0 3.5rem;
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b2);
          top: 53%;
          right: 5%;
          padding: 0 1.625rem;
        }
      }
    }
  }
}
// main_section01 finish
// main_section02
.sec02 {
  background-color: var.$color-primary;
  padding-top: map-get(var.$spacers, 19);
  text-align: left;
  @include resp.respond-to(xs) {
    padding-top: map-get(var.$spacers, 10);
  }
  @include resp.respond-to(sm) {
    padding-top: 7.75rem;
  }
  @include resp.respond-to(md) {
    padding-top: 3.875rem;
  }
  @include resp.respond-to(xl) {
    padding-top: 5.875rem;
  }
  @include resp.respond-to(xxxl) {
    padding-top: map-get(var.$spacers, 19);
  }
  .main_section02 {
    @include resp.respond-to(xs) {
      min-height: 60vh;
      overflow-y: auto;
    }

    @include resp.respond-to(sm) {
      min-height: 70vh;
    }

    @include resp.respond-to(md) {
      min-height: 75vh;
    }

    @include resp.respond-to(lg) {
      min-height: 80vh;
      overflow-y: hidden;
    }

    @include resp.respond-to(xl) {
      min-height: 85vh;
    }

    @include resp.respond-to(xxl) {
      min-height: 90vh;
    }

    @include resp.respond-to(xxxl) {
      height: 100vh;
    }
    .justify-between {
      justify-content: space-between;
      align-items: center;
      .h-logo-white {
        width: 100%;
        img {
          width: 82px;
          height: 130px;
          @include resp.respond-to(xs) {
            width: 50px;
            height: 80px;
          }
          @include resp.respond-to(sm) {
            width: 55px;
            height: 100px;
          }
          @include resp.respond-to(lg) {
            width: 65px;
            height: 130px;
          }
          @include resp.respond-to(xxl) {
            width: 82px;
          }
          @include resp.respond-to(xxxl) {
            width: 82px;
          }
        }
        span {
          position: relative;
          display: inline-block;
          padding-top: 3rem;
          padding-left: map-get(var.$spacers, 4);
          font-size: 5.375rem;
          font-weight: var.$font-weight-bold;
          letter-spacing: var.$letter-spacing-3;
          line-height: var.$line-height-120;
          -webkit-text-stroke-width: 0.7px;
          -webkit-text-stroke-color: var.$color-secondary;
          color: transparent;

          @include resp.respond-to(xs) {
            font-size: var.get-font-size(t2, xs);
            padding-top: map-get(var.$spacers, 6);
            padding-left: 0.5rem;
          }
          @include resp.respond-to(sm) {
            padding-top: map-get(var.$spacers, 5);
            padding-left: map-get(var.$spacers, 2);
            font-size: 66px;
          }
          @include resp.respond-to(md) {
            font-size: 58px;
            padding-top: map-get(var.$spacers, 5);
          }
          @include resp.respond-to(lg) {
            font-size: 70px;
            padding-top: map-get(var.$spacers, 8);
          }
          @include resp.respond-to(xxl) {
            font-size: 82px;
          }
          @include resp.respond-to(xxxl) {
            padding-top: 3rem;
            padding-left: map-get(var.$spacers, 4);
            font-size: var.get-font-size(t3, default);
          }
        }
      }
      .sec02_bar {
        width: auto;
        height: auto;
        margin: 0;
        @include resp.respond-to(xs) {
          margin-top: 14rem;
        }
        @include resp.respond-to(md) {
          margin-top: 20rem;
        }
        @include resp.respond-to(lg) {
          margin-top: 15rem;
        }
        @include resp.respond-to(xxxl) {
          margin: 0;
        }
        img {
          width: 424px;
          @include resp.respond-to(xs) {
            width: 162px;
          }
          @include resp.respond-to(md) {
            width: 200px;
          }
          @include resp.respond-to(lg) {
            width: 400px;
          }
          @include resp.respond-to(xl) {
            width: 424px;
          }
        }
      }
    }
    .History_arrow_right {
      position: relative;
      width: 52px;
      height: 52px;

      @include resp.respond-to(xs) {
        width: 40px;
        height: 40px;
      }
      @include resp.respond-to(md) {
        width: 43px;
        height: 43px;
      }
      @include resp.respond-to(lg) {
        width: 46px;
        height: 46px;
      }
      @include resp.respond-to(xxl) {
        width: 50px;
        height: 50px;
      }
      @include resp.respond-to(xxxl) {
        width: 52px;
        height: 52px;
      }

      .default-img,
      .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 0.3s ease-in-out;
      }

      .default-img {
        opacity: 1;
        z-index: 1;
      }

      .hover-img {
        opacity: 0;
        z-index: 2;
      }

      &:hover {
        .default-img {
          opacity: 0;
        }
        .hover-img {
          opacity: 1;
        }
      }
    }
    .history_box01 {
      border-top: 1px solid var.$color-secondary;
      border-bottom: 1px solid var.$color-secondary;
      justify-content: space-between;
      margin-top: 8.625rem;
      align-items: center;

      @include resp.respond-to(xs) {
        margin-top: map-get(var.$spacers, 20);
      }
      @include resp.respond-to(lg) {
        margin-top: 5.5rem;
      }
      @include resp.respond-to(xxl) {
        margin-top: map-get(var.$spacers, 18);
      }
      @include resp.respond-to(xxxl) {
        margin-top: 8.625rem;
      }

      span {
        display: inline-block;
        font-family: var.$font-point;
        font-size: 8rem;
        letter-spacing: var.$letter-spacing-3;
        line-height: var.$line-height-140;
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: var.$color-secondary;
        color: transparent;
        padding: 1.75rem 0;
        font-weight: normal;
        background: linear-gradient(
          90deg,
          var.$color-white 50%,
          transparent 50%
        );
        background-size: 200% 100%;
        background-position: right bottom;
        -webkit-background-clip: text;
        background-clip: text;
        transition: background-position 0.7s cubic-bezier(0.55, 0, 0.1, 1),
          -webkit-text-stroke 0.8s;

        &:hover {
          background-position: left bottom;

          &::after {
            transform: scaleX(1);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -5%;
          left: 7%;
          width: 90%;
          height: 1px;
          background-color: var.$color-white;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.7s cubic-bezier(0.55, 0, 0.1, 1);
        }

        @include resp.respond-to(xs) {
          font-size: var.get-font-size(t3, xs);
          padding: map-get(var.$spacers, 8) 0;
        }
        @include resp.respond-to(md) {
          font-size: var.get-font-size(h2);
        }
        @include resp.respond-to(lg) {
          font-size: var.get-font-size(h1);
          padding: map-get(var.$spacers, 3) 0;
        }
        @include resp.respond-to(xl) {
          font-size: var.get-font-size(t3);
          padding: map-get(var.$spacers, 4) 0;
        }
        @include resp.respond-to(xxl) {
          font-size: 6.375rem;
          padding: map-get(var.$spacers, 6) 0;
        }
        @include resp.respond-to(xxxl) {
          font-size: 8rem;
          padding: 1.75rem 0;
        }
      }
    }
    .history_box02 {
      border-bottom: 1px solid var.$color-secondary;
      justify-content: space-between;
      align-items: center;
      margin-bottom: map-get(var.$spacers, 15);

      @include resp.respond-to(xs) {
        margin-bottom: map-get(var.$spacers, 8);
      }
      @include resp.respond-to(md) {
        margin-bottom: 0;
      }
      @include resp.respond-to(xxxl) {
        margin-bottom: map-get(var.$spacers, 15);
      }

      .letter-spacing-8 {
        font-family: var.$font-point;
        font-size: 8rem;
        letter-spacing: var.$letter-spacing-8;
        line-height: var.$line-height-140;
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: var.$color-secondary;
        padding: 1.75rem 0;
        color: transparent;
        font-weight: normal;

        @include resp.respond-to(xs) {
          font-size: var.get-font-size(t3, xs);
          padding: 0;
          margin: 0;
        }
        @include resp.respond-to(md) {
          font-size: var.get-font-size(h2);
        }
        @include resp.respond-to(lg) {
          font-size: var.get-font-size(h1);
          padding: map-get(var.$spacers, 3) 0;
        }
        @include resp.respond-to(xl) {
          font-size: var.get-font-size(t3);
          padding: map-get(var.$spacers, 4) 0;
        }
        @include resp.respond-to(xxl) {
          font-size: 6.375rem;
          padding: map-get(var.$spacers, 6) 0;
        }
        @include resp.respond-to(xxxl) {
          font-size: 8rem;
          padding: 1.75rem 0;
        }
      }

      span {
        display: inline-block;
        font-family: var.$font-point;
        font-size: 8rem;
        letter-spacing: var.$letter-spacing-3;
        line-height: var.$line-height-140;
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: var.$color-secondary;
        padding: 0.75rem 0;
        margin-left: map-get(var.$spacers, 8);

        background: linear-gradient(
          90deg,
          var.$color-white 50%,
          transparent 50%
        );
        background-size: 200% 100%;
        background-position: right bottom;
        -webkit-background-clip: text;
        background-clip: text;
        transition: background-position 0.7s cubic-bezier(0.55, 0, 0.1, 1),
          -webkit-text-stroke 0.8s;

        &:hover {
          background-position: left bottom;

          &::after {
            transform: scaleX(1);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -5%;
          left: 7%;
          width: 90%;
          height: 1px;
          background-color: var.$color-white;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.7s cubic-bezier(0.55, 0, 0.1, 1);
        }

        @include resp.respond-to(xs) {
          font-size: var.get-font-size(t3, xs);
          padding: map-get(var.$spacers, 8) 0;
          margin-left: map-get(var.$spacers, 1);
        }
        @include resp.respond-to(md) {
          font-size: var.get-font-size(h2);
          padding: 0;
        }
        @include resp.respond-to(lg) {
          font-size: var.get-font-size(h1);
          margin-left: map-get(var.$spacers, 4);
        }
        @include resp.respond-to(xl) {
          font-size: var.get-font-size(t3);
        }
        @include resp.respond-to(xxl) {
          font-size: 6.375rem;
        }
        @include resp.respond-to(xxxl) {
          font-size: 8rem;
          padding: 0.75rem 0;
          margin-left: map-get(var.$spacers, 8);
        }
      }
    }
  }
}

// main_section02 finish
.sec03 {
  background-color: var.$color-primary;
  padding-top: map-get(var.$spacers, 15);
  @include resp.respond-to(xs) {
    padding-top: map-get(var.$spacers, 8);
  }
  @include resp.respond-to(sm) {
    padding-top: map-get(var.$spacers, 15);
  }
  @include resp.respond-to(md) {
    padding-top: 10.875rem;
  }
  @include resp.respond-to(lg) {
    padding-top: 4.975rem;
  }
  @include resp.respond-to(xl) {
    padding-top: 7.875rem;
  }
  @include resp.respond-to(xxxl) {
    padding-top: map-get(var.$spacers, 15);
  }
  .main_section03 {
    @include resp.respond-to(xs) {
      min-height: 60vh;
      overflow-y: auto;
    }

    @include resp.respond-to(sm) {
      min-height: 70vh;
    }

    @include resp.respond-to(md) {
      min-height: 75vh;
    }

    @include resp.respond-to(lg) {
      min-height: 80vh;
      overflow-y: hidden;
    }

    @include resp.respond-to(xl) {
      min-height: 85vh;
    }

    @include resp.respond-to(xxl) {
      min-height: 90vh;
    }

    @include resp.respond-to(xxxl) {
      height: 100vh;
    }
    .sec03_wrap {
      align-items: center;
      justify-content: space-between;
      @include resp.respond-to(xs) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3.125rem;
        margin-top: map-get(var.$spacers, 13);
      }
      @include resp.respond-to(md) {
        margin-top: 0;
      }
      @include resp.respond-to(lg) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
      }
    }
  }

  .main_content {
    margin-bottom: 5.875rem;
    @include resp.respond-to(xs) {
      margin-bottom: map-get(var.$spacers, 8);
    }
    @include resp.respond-to(md) {
      margin-bottom: 0;
    }
    @include resp.respond-to(xxxl) {
      margin-bottom: 5.875rem;
    }
  }

  .main_section03_title {
    width: 100%;
    img {
      width: 123px;
      @include resp.respond-to(xs) {
        width: 66px;
      }
      @include resp.respond-to(sm) {
        width: 70px;
      }
      @include resp.respond-to(md) {
        width: 84px;
      }
      @include resp.respond-to(xl) {
        width: 100px;
      }
      @include resp.respond-to(xxxl) {
        width: 123px;
      }
    }
  }

  .main_section03_text_title {
    text-align: left;

    .news_main_title,
    .notice_main_title {
      padding-left: map-get(var.$spacers, 4);
      font-size: 5.375rem;
      font-weight: var.$font-weight-bold;
      letter-spacing: var.$letter-spacing-3;
      line-height: var.$line-height-120;
      -webkit-text-stroke-width: 0.7px;
      -webkit-text-stroke-color: var.$color-secondary;
      color: transparent;
      @include resp.respond-to(xs) {
        padding-left: map-get(var.$spacers, 1);
        font-size: var.get-font-size(t4, xs);
        line-height: var.$line-height-140;
      }
      @include resp.respond-to(sm) {
        font-size: var.get-font-size(t3, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(t2, xs);
      }
      @include resp.respond-to(xl) {
        font-size: var.get-font-size(h3);
      }
      @include resp.respond-to(xxxl) {
        padding-left: map-get(var.$spacers, 4);
        line-height: var.$line-height-120;
        font-size: 5.375rem;
      }
    }
    span {
      display: block;
    }
  }

  .bar_title {
    width: auto;
    height: auto;
    margin: 0;
    @include resp.respond-to(xs) {
      margin-left: 48vw;
    }
    @include resp.respond-to(sm) {
      margin-left: 60vw;
    }
    @include resp.respond-to(md) {
      margin-left: 68vw;
    }
    @include resp.respond-to(lg) {
      margin-top: map-get(var.$spacers, 11);
      margin-left: 25vw;
    }
    @include resp.respond-to(xl) {
      margin-left: 30vw;
    }
    @include resp.respond-to(xxl) {
      margin-left: 35vw;
    }
    @include resp.respond-to(xxxl) {
      margin-top: map-get(var.$spacers, 11);
    }

    .sec02_bar {
      width: 424px;
      @include resp.respond-to(xs) {
        width: 162px;
      }
      @include resp.respond-to(lg) {
        width: 424px;
      }
    }
  }

  .view_btn {
    justify-content: end;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 3.938rem;

    @include resp.respond-to(xs) {
      margin-top: map-get(var.$spacers, 2);
    }
    @include resp.respond-to(xxxl) {
      margin-top: 1.75rem;
    }

    a {
      display: block;
      position: relative;
      width: 52px;
      height: 52px;

      @include resp.respond-to(xs) {
        width: 40px;
        height: 40px;
      }
      @include resp.respond-to(md) {
        width: 43px;
        height: 43px;
      }
      @include resp.respond-to(lg) {
        width: 46px;
        height: 46px;
      }
      @include resp.respond-to(xxl) {
        width: 50px;
        height: 50px;
      }
      @include resp.respond-to(xxxl) {
        width: 52px;
        height: 52px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease-in-out;
      }

      .default-img {
        opacity: 1;
        z-index: 1;
      }

      .hover-img {
        opacity: 0;
        z-index: 2;
      }

      &:hover {
        .default-img {
          opacity: 0;
        }
        .hover-img {
          opacity: 1;
        }
      }
    }
    h2 {
      padding-right: map-get(var.$spacers, 3);
      font-family: var.$font-body;
      font-size: var.get-font-size(b3);
      font-weight: var.$font-weight-extralight;
      color: var.$color-white;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(b2, xs);
      }
      @include resp.respond-to(lg) {
        font-size: var.get-font-size(b1, xs);
      }
      @include resp.respond-to(xl) {
        font-size: var.get-font-size(b4);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(b3);
      }
    }
  }

  .news_content,
  .notice_content {
    .row {
      &:nth-of-type(4),
      &:nth-of-type(5) {
        display: none;
      }
    }
  }

  .content_wrapper {
    justify-content: space-between;
    align-items: flex-start;

    @include resp.respond-to(xs) {
      flex-direction: column;
      align-items: center;

      .news_content,
      .notice_content {
        width: 100%;
      }
    }

    @include resp.respond-to(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .news_content,
      .notice_content {
        width: auto;
        margin-bottom: 0;
      }
    }
  }
  @include resp.respond-to(lg) {
    .news_content,
    .notice_content {
      .row {
        &:nth-of-type(4),
        &:nth-of-type(5) {
          display: flex;
        }
      }
    }
  }

  .news_text_wrap {
    justify-content: space-between;
  }

  .news_title,
  .notice_title {
    padding-top: map-get(var.$spacers, 13);
    padding-bottom: map-get(var.$spacers, 3);
    justify-content: space-between;
    @include resp.respond-to(xs) {
      padding-top: 0;
      padding-bottom: map-get(var.$spacers, 4);
    }
    @include resp.respond-to(md) {
      padding-bottom: map-get(var.$spacers, 6);
    }
    @include resp.respond-to(lg) {
      padding-top: map-get(var.$spacers, 10);
      padding-bottom: map-get(var.$spacers, 9);
    }
    @include resp.respond-to(xl) {
      padding-top: map-get(var.$spacers, 20);
      padding-bottom: map-get(var.$spacers, 11);
    }
    @include resp.respond-to(xxl) {
      padding-top: map-get(var.$spacers, 20);
      padding-bottom: map-get(var.$spacers, 9);
    }
    @include resp.respond-to(xxxl) {
      padding-top: map-get(var.$spacers, 13);
      padding-bottom: map-get(var.$spacers, 3);
    }

    h1 {
      font-family: var.$font-body;
      font-size: var.get-font-size(h4);
      font-weight: var.$font-weight-medium;
      color: var.$color-secondary;
      letter-spacing: var.$letter-spacing-3;
      line-height: var.$line-height-160;
      margin-right: map-get(var.$spacers, 7);
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(h4, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(b1);
      }
      @include resp.respond-to(xl) {
        font-size: var.get-font-size(b1);
      }
      @include resp.respond-to(xxl) {
        font-size: var.get-font-size(h5);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(h4);
      }
    }
    img {
      width: 575px;
      @include resp.respond-to(xs) {
        width: 230px;
      }
      @include resp.respond-to(lg) {
        width: 300px;
      }
      @include resp.respond-to(xl) {
        width: 400px;
      }
      @include resp.respond-to(xxl) {
        width: 450px;
      }
      @include resp.respond-to(xxxl) {
        width: 575px;
      }
    }
  }

  .news_text,
  .notice_text {
    justify-content: space-between;
    align-items: center;
    padding: map-get(var.$spacers, 6) 0;
    white-space: nowrap;
    @include resp.respond-to(xs) {
      padding-top: 0;
    }
    @include resp.respond-to(md) {
      padding-bottom: map-get(var.$spacers, 10);
    }
    @include resp.respond-to(lg) {
      padding-bottom: map-get(var.$spacers, 8);
    }
    @include resp.respond-to(xl) {
      padding-bottom: map-get(var.$spacers, 9);
    }
    @include resp.respond-to(xxl) {
      padding: map-get(var.$spacers, 4) 0;
    }
    @include resp.respond-to(xxxl) {
      padding: map-get(var.$spacers, 6) 0;
    }

    h1 {
      font-family: var.$font-body;
      font-size: var.get-font-size(b3);
      font-weight: var.$font-weight-regular;
      color: var.$color-secondary;
      line-height: var.$line-height-160;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(b2, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(b1, xs);
      }
      @include resp.respond-to(lg) {
        font-size: var.get-font-size(b1, xs);
      }
      @include resp.respond-to(xxl) {
        font-size: var.get-font-size(b4);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(b3);
      }
    }

    p {
      font-family: var.$font-body;
      font-size: var.get-font-size(b4);
      font-weight: var.$font-weight-light;
      color: #717171;
      line-height: var.$line-height-160;
      @include resp.respond-to(xs) {
        font-size: var.get-font-size(b3, xs);
      }
      @include resp.respond-to(md) {
        font-size: var.get-font-size(b2, xs);
      }
      @include resp.respond-to(lg) {
        font-size: var.get-font-size(b2, xs);
      }
      @include resp.respond-to(xxl) {
        font-size: var.get-font-size(b5);
      }
      @include resp.respond-to(xxxl) {
        font-size: var.get-font-size(b4);
      }
    }
  }
  .p-b-44 {
    @include resp.respond-to(xs) {
      padding-bottom: map-get(var.$spacers, 4);
    }
    @include resp.respond-to(md) {
      padding-bottom: map-get(var.$spacers, 5);
    }
    @include resp.respond-to(lg) {
      padding-bottom: map-get(var.$spacers, 8);
    }
    @include resp.respond-to(xl) {
      padding-bottom: map-get(var.$spacers, 9);
    }
    @include resp.respond-to(xxl) {
      padding: map-get(var.$spacers, 4) 0;
    }
    @include resp.respond-to(xxxl) {
      padding-bottom: map-get(var.$spacers, 5);
    }
    .p-b-36 {
      @include resp.respond-to(xs) {
        padding-bottom: map-get(var.$spacers, 6);
      }
      @include resp.respond-to(md) {
        padding-bottom: map-get(var.$spacers, 15);
      }
      @include resp.respond-to(lg) {
        padding-bottom: 0;
      }
    }
  }
}
