@use 'variables' as var;
@use 'responsitve' as resp;
@use 'common' as com;
@use 'component' as cp;

// === News-select start===
.News-select__ {
  padding: map-get(var.$spacers, 8) 0;
  background-color: var.$color-secondary;
  @include resp.respond-to(xxl) {
    padding: map-get(var.$spacers, 22) 0;
  }
  &title {
    padding-bottom: map-get(var.$spacers, 5);
    @include resp.respond-to(xxl) {
      padding-bottom: map-get(var.$spacers, 22);
    }
    .title-content {
      justify-content: space-between;
      .left-title {
        gap: map-get(var.$spacers, 2);
        @include resp.respond-to(xxl) {
          gap: map-get(var.$spacers, 4);
        }
        .img-title {
          width: 66px;
          @include resp.respond-to(sm) {
            width: 76px;
          }
          @include resp.respond-to(md) {
            width: 86px;
          }
          @include resp.respond-to(xxl) {
            width: 122px;
          }
          img {
            width: 100%;
          }
        }
        .text-title {
          .news-title {
            display: block;
            position: relative;
            font-size: var.get-font-size(t4, xs);
            letter-spacing: var.$letter-spacing-3;
            font-weight: var.$font-weight-bold;
            line-height: var.$line-height-140;
            color: transparent;
            -webkit-text-stroke: 0.6px var.$color-primary;
            text-align: left;
            background: linear-gradient(
              to right,
              var.$color-primary 50%,
              transparent 50%
            );
            background-size: 200% auto;
            background-position: 0% 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: fillColor 1s forwards;
            &::after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: -6px;
              height: 3px;
              width: 80%;
              background-color: var.$color-primary;
              transform: scaleX(0);
              transform-origin: left center;
              animation: underlineGrow 0.7s 0.1s forwards;
            }
            @include resp.respond-to(sm) {
              // 폰트
              font-size: 42px;
            }
            @include resp.respond-to(xl) {
              // 폰트
              font-size: 52px;
            }
            @include resp.respond-to(xxl) {
              font-size: var.get-font-size(t4);
            }
          }

          @keyframes fillColor {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: 0% 0;
            }
          }
          @keyframes underlineGrow {
            0% {
              transform: scaleX(0);
            }
            100% {
              transform: scaleX(1);
            }
          }

          .notice-title {
            display: block;
            font-size: var.get-font-size(t4, xs);
            letter-spacing: var.$letter-spacing-3;
            font-weight: var.$font-weight-bold;
            line-height: var.$line-height-140;
            color: transparent;
            -webkit-text-stroke: 0.6px var.$color-primary;
            text-align: left;
            @include resp.respond-to(sm) {
              // 폰트
              font-size: 42px;
            }
            @include resp.respond-to(xl) {
              // 폰트
              font-size: 52px;
            }
            @include resp.respond-to(xxl) {
              font-size: var.get-font-size(t4);
            }
          }
        }
      }
      .right-title {
        width: 424px;
        display: none;
        @include resp.respond-to(sm) {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  // === News-select__title end ===

  // === News-select__btn start ===
  &btn {
    padding-bottom: map-get(var.$spacers, 5);
    @include resp.respond-to(xxl) {
      padding-bottom: map-get(var.$spacers, 11);
    }
    .btn-content {
      gap: map-get(var.$spacers, 2);
      @include resp.respond-to(xl) {
        gap: map-get(var.$spacers, 4);
      }
      .News-btn {
        font-size: var.get-font-size(b2, xs);
        @include resp.respond-to(sm) {
          // 폰트
          font-size: 18px;
        }
        @include resp.respond-to(xxl) {
          // 폰트
          font-size: var.get-font-size(b1);
          padding: map-get(var.$spacers, 2) map-get(var.$spacers, 6);
        }
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-120;
        color: var.$color-secondary;
        background-color: var.$color-primary;
        padding: map-get(var.$spacers, 2) map-get(var.$spacers, 4);
        border-radius: 10rem;
        text-decoration: none;
        align-items: center;
      }
      .Notice-btn {
        font-size: var.get-font-size(b2, xs);
        @include resp.respond-to(sm) {
          // 폰트
          font-size: 18px;
        }
        @include resp.respond-to(xxl) {
          // 폰트
          font-size: var.get-font-size(b1);
          padding: map-get(var.$spacers, 2) map-get(var.$spacers, 6);
        }
        text-decoration: none;
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-120;
        color: var.$color-primary;
        border: 1px solid var.$color-primary;
        padding: map-get(var.$spacers, 2) map-get(var.$spacers, 4);
        border-radius: 10rem;
        &:hover {
          background-color: var.$color-primary;
          color: var.$color-secondary;
          transition: all 0.3s;
        }
      }
    }
  }
  // === News-select__btnend ===

  // === News-select__cardnews start ===
  &cardnews {
    margin-bottom: map-get(var.$spacers, 8);
    @include resp.respond-to(xxl) {
      margin-bottom: map-get(var.$spacers, 11);
    }
    @include resp.respond-to(xxxl) {
      margin-bottom: map-get(var.$spacers, 14);
    }
    .news-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 1rem;
      box-sizing: border-box;
      .news-item {
        flex: 1 1 100%;
        max-width: 100%;
        a {
          .card-news-img {
            width: 100%;
            margin: 0 auto;
            img {
              width: 100%;
              height: auto;
              max-width: 100%;
            }
          }
          .card-news-desc {
            text-align: left;
            padding-right: map-get(var.$spacers, 7);
            @include resp.respond-to(sm) {
              padding-right: map-get(var.$spacers, 12);
            }
            .category {
              display: inline-block;
              font-size: var.get-font-size(b2, xs);
              font-weight: var.$font-weight-light;
              color: var.$color-primary;
              padding-top: map-get(var.$spacers, 1);
              line-height: var.$line-height-160;
              @include resp.respond-to(sm) {
                // 폰트
                font-size: 16px;
              }
              @include resp.respond-to(xxl) {
                font-size: var.get-font-size(b3);
                padding-top: map-get(var.$spacers, 3);
              }
            }
            .card-news-body {
              font-size: var.get-font-size(b1, xs);
              font-weight: var.$font-weight-regular;
              color: var.$color-primary;
              padding-top: map-get(var.$spacers, 2);
              line-height: var.$line-height-160;
              @include resp.respond-to(sm) {
                // 폰트
                font-size: 18px;
              }
              @include resp.respond-to(xxl) {
                font-size: var.get-font-size(b2);
              }
            }
            .date {
              display: inline-block;
              font-size: var.get-font-size(b2, xs);
              font-weight: var.$font-weight-regular;
              color: var.$color-gray-500;
              padding-top: map-get(var.$spacers, 3);
              line-height: var.$line-height-160;
              @include resp.respond-to(sm) {
                // 폰트
                font-size: 16px;
              }
              @include resp.respond-to(xxl) {
                font-size: var.get-font-size(b4);
                padding-top: map-get(var.$spacers, 5);
              }
            }
          }
        }
      }
      // 2열 (md ~ lg)
      @include resp.respond-to(md) {
        .news-item {
          flex: 1 1 calc(50% - 0.5rem); // gap/2만큼 빼줌
          max-width: calc(50% - 0.5rem);
        }
      }
      // 3열 (xl ~ xxl)
      @include resp.respond-to(xl) {
        .news-item {
          flex: 1 1 calc(33.3333% - 0.67rem); // gap/3만큼 빼줌
          max-width: calc(33.3333% - 0.67rem);
        }
      }
    }
  }
  // === News-select__cardnews end ===

  // === News-select__viewmore start ===
  &viewmore {
    .viewmore-btn {
      button {
        margin: auto;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        gap: map-get(var.$spacers, 1);
        .plus-btn-text {
          span {
            font-size: var.get-font-size(b1, xs);
            color: var.$color-primary;
            font-weight: var.$font-weight-light;
            line-height: var.$line-height-160;
            letter-spacing: var.$letter-spacing-3;
            @include resp.respond-to(sm) {
              // 폰트
              font-size: 18px;
            }
            @include resp.respond-to(xxl) {
              // 폰트
              font-size: var.get-font-size(b3);
            }
          }
        }
        .plus-btn-img {
          width: 32px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  // === News-select__viewmore end ===
}
// === News-select end ===

// === Notice-select start===
.Notice-select__ {
  padding: map-get(var.$spacers, 8) 0;
  background-color: var.$color-secondary;
  @include resp.respond-to(xxl) {
    padding: map-get(var.$spacers, 22) 0;
  }
  &title {
    padding-bottom: map-get(var.$spacers, 5);
    @include resp.respond-to(xxl) {
      padding-bottom: map-get(var.$spacers, 22);
    }
    .title-content {
      justify-content: space-between;
      .left-title {
        gap: map-get(var.$spacers, 2);
        @include resp.respond-to(xxl) {
          gap: map-get(var.$spacers, 4);
        }
        .img-title {
          width: 66px;
          @include resp.respond-to(sm) {
            width: 76px;
          }
          @include resp.respond-to(md) {
            width: 86px;
          }
          @include resp.respond-to(xxl) {
            width: 122px;
          }
          img {
            width: 100%;
          }
        }
        .text-title {
          .news-title {
            font-size: var.get-font-size(t4, xs);
            letter-spacing: var.$letter-spacing-3;
            font-weight: var.$font-weight-bold;
            line-height: var.$line-height-140;
            color: transparent;
            -webkit-text-stroke: 0.6px #171717;
            text-align: left;

            @include resp.respond-to(sm) {
              // 폰트
              font-size: 42px;
            }
            @include resp.respond-to(xl) {
              // 폰트
              font-size: 52px;
            }
            @include resp.respond-to(xxl) {
              font-size: var.get-font-size(t4);
            }
          }
          .notice-title {
            display: block;
            position: relative;
            font-size: var.get-font-size(t4, xs);
            letter-spacing: var.$letter-spacing-3;
            font-weight: var.$font-weight-bold;
            line-height: var.$line-height-140;
            color: transparent;
            -webkit-text-stroke: 0.6px var.$color-primary;
            text-align: left;
            background: linear-gradient(
              to right,
              var.$color-primary 50%,
              transparent 50%
            );
            background-size: 200% auto;
            background-position: 0% 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: fillColor 1s forwards;
            &::after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: -6px;
              height: 3px;
              width: 100%;
              background-color: var.$color-primary;
              transform: scaleX(0);
              transform-origin: left center;
              animation: underlineGrow 0.7s 0.1s forwards;
            }
            @include resp.respond-to(sm) {
              // 폰트
              font-size: 42px;
            }
            @include resp.respond-to(xl) {
              // 폰트
              font-size: 52px;
            }
            @include resp.respond-to(xxl) {
              font-size: var.get-font-size(t4);
            }
          }
          @keyframes fillColor {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: 0% 0;
            }
          }
          @keyframes underlineGrow {
            0% {
              transform: scaleX(0);
            }
            100% {
              transform: scaleX(1);
            }
          }
        }
      }
      .right-title {
        width: 424px;
        display: none;
        @include resp.respond-to(sm) {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  // === News-select__title end ===

  // === News-select__btn start ===
  &btn {
    padding-bottom: map-get(var.$spacers, 5);
    border-bottom: 1px solid var.$color-primary;
    @include resp.respond-to(xxl) {
      padding-bottom: map-get(var.$spacers, 11);
    }
    .btn-content {
      gap: map-get(var.$spacers, 2);
      @include resp.respond-to(xl) {
        gap: map-get(var.$spacers, 4);
      }
      .News-btn {
        font-size: var.get-font-size(b2, xs);
        @include resp.respond-to(sm) {
          // 폰트
          font-size: 18px;
        }
        @include resp.respond-to(xxl) {
          // 폰트
          font-size: var.get-font-size(b1);
          padding: map-get(var.$spacers, 2) map-get(var.$spacers, 6);
        }
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-120;
        color: var.$color-primary;
        border: 1px solid var.$color-primary;
        padding: map-get(var.$spacers, 2) map-get(var.$spacers, 4);
        border-radius: 10rem;
        text-decoration: none;
        align-items: center;
        &:hover {
          background-color: var.$color-primary;
          color: var.$color-secondary;
          transition: all 0.3s;
        }
      }
      .Notice-btn {
        font-size: var.get-font-size(b2, xs);
        @include resp.respond-to(sm) {
          // 폰트
          font-size: 18px;
        }
        @include resp.respond-to(xxl) {
          // 폰트
          font-size: var.get-font-size(b1);
          padding: map-get(var.$spacers, 2) map-get(var.$spacers, 6);
        }
        text-decoration: none;
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-120;
        color: var.$color-secondary;
        background-color: var.$color-primary;

        padding: map-get(var.$spacers, 2) map-get(var.$spacers, 4);
        border-radius: 10rem;
      }
    }
  }
  // === Notice-select__btn end ===

  // === Notice-select__cardNotice start ==

  // === Notice-select__table start ===
  &table-list {
    .table-content {
      flex-direction: column;
      table {
        border-collapse: collapse;
        margin-bottom: map-get(var.$spacers, 8);
        @include resp.respond-to(xxl) {
          margin-bottom: map-get(var.$spacers, 11);
        }
        @include resp.respond-to(xxxl) {
          margin-bottom: map-get(var.$spacers, 14);
        }
        colgroup {
          .tb-col-1 {
            width: 6.75rem;
            @include resp.respond-to(sm) {
              width: 10.75rem;
            }
            @include resp.respond-to(xxxl) {
              width: 6.75rem;
            }
          }
          .tb-col-2 {
            width: 14rem;
            @include resp.respond-to(xxxl) {
              width: 18rem;
            }
          }
          .tb-col-3 {
            width: 65.5rem;
            @include resp.respond-to(xxxl) {
              width: 49.5rem;
            }
          }
          .tb-col-4 {
            width: 14rem;
            @include resp.respond-to(xxxl) {
              width: 18rem;
            }
          }
          .tb-col-5 {
            width: 6.75rem;
          }
        }
        thead {
          tr {
            box-sizing: border-box;
            th {
              box-sizing: border-box;
              border-bottom: 1px solid var.$color-gray-400;
              font-size: var.get-font-size(b1, xs);
              font-weight: var.$font-weight-medium;
              color: var.$color-primary;
              line-height: var.$line-height-140;
              padding: map-get(var.$spacers, 3) 0;
              @include resp.respond-to(xl) {
                padding: map-get(var.$spacers, 5) 0;
                // 폰트
                font-size: 18px;
              }
              @include resp.respond-to(xxxl) {
                font-size: var.get-font-size(b2);
              }
            }
            .text-left {
              text-align: left;
            }
          }
        }
        tbody {
          tr {
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
              background-color: var.$color-gray-200;
            }
            td {
              box-sizing: border-box;
              border-bottom: 1px solid var.$color-gray-400;
              padding: map-get(var.$spacers, 3) 0;
              font-size: var.get-font-size(b2, xs);
              font-weight: var.$font-weight-light;
              color: var.$color-primary;
              line-height: var.$line-height-160;
              @include resp.respond-to(xl) {
                padding: map-get(var.$spacers, 5) 0;
                // 폰트
                font-size: 18px;
              }
              @include resp.respond-to(xxxl) {
                font-size: var.get-font-size(b3);
              }
            }
            .text-title {
              box-sizing: border-box;
              border-bottom: 1px solid var.$color-gray-400;
              padding: map-get(var.$spacers, 3) 0;
              font-size: var.get-font-size(b2, xs);
              font-weight: var.$font-weight-regular;
              color: var.$color-primary;
              line-height: var.$line-height-160;
              @include resp.respond-to(xl) {
                padding: map-get(var.$spacers, 5) 0;
                // 폰트
                font-size: 18px;
              }
              @include resp.respond-to(xxxl) {
                font-size: var.get-font-size(b3);
              }
            }
            .text-left {
              text-align: left;
            }
            .date {
              font-size: var.get-font-size(b3, xs);
              font-weight: var.$font-weight-regular;
              color: var.$color-gray-500;
              line-height: var.$line-height-160;
              @include resp.respond-to(sm) {
                // 폰트
                font-size: 14px;
              }
              @include resp.respond-to(xl) {
                padding: map-get(var.$spacers, 5) 0;
                // 폰트
                font-size: 16px;
              }
              @include resp.respond-to(xxxl) {
                font-size: var.get-font-size(b4);
              }
            }
          }
        }
      }
    }
  }
  // === Notice-select__table end ===

  // === Notice-select__viewmore start ===
  &viewmore {
    .viewmore-btn {
      button {
        margin: auto;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        gap: map-get(var.$spacers, 1);
        .plus-btn-text {
          span {
            font-size: var.get-font-size(b1, xs);
            color: var.$color-primary;
            font-weight: var.$font-weight-light;
            line-height: var.$line-height-160;
            letter-spacing: var.$letter-spacing-3;
            @include resp.respond-to(sm) {
              // 폰트
              font-size: 18px;
            }
            @include resp.respond-to(xxl) {
              // 폰트
              font-size: var.get-font-size(b3);
            }
          }
        }
        .plus-btn-img {
          width: 32px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  // === Notice-select__viewmore end ===
}
// === Notice-select end ===

// = News-detail start ===
.News-detail__ {
  padding: map-get(var.$spacers, 5) 0 map-get(var.$spacers, 8) 0;
  background-color: var.$color-secondary;
  @include resp.respond-to(xl) {
    padding: map-get(var.$spacers, 22) 0 map-get(var.$spacers, 11) 0;
  }
  &title-content {
    gap: map-get(var.$spacers, 5);
    @include resp.respond-to(xl) {
      gap: map-get(var.$spacers, 11);
    }
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .title {
      text-align: left;
      h2 {
        font-size: var.get-font-size(h3, xs);
        font-weight: var.$font-weight-medium;
        color: var.$color-primary;
        line-height: var.$line-height-140;
        @include resp.respond-to(xl) {
          // 폰트
          font-size: 44px;
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(h2);
        }
      }
    }
    .date {
      justify-content: space-between;
      span {
        display: inline-block;
        font-size: var.get-font-size(b2, xs);
        font-weight: var.$font-weight-light;
        color: var.$color-gray-500;
        line-height: var.$line-height-140;
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b4);
        }
      }
    }
  }
  &textarea {
    padding: map-get(var.$spacers, 5) 0;
    @include resp.respond-to(xl) {
      padding: map-get(var.$spacers, 8) 0;
    }
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .text-form {
      border-top: 2px solid var.$color-primary;
      border-bottom: 1px solid var.$color-gray-500;
      .text-form__img {
        padding: map-get(var.$spacers, 7) 0;
        img {
          width: 100%;
        }
      }
      .text-title {
        display: block;
        padding: map-get(var.$spacers, 7) 0;
        font-size: var.get-font-size(b1, xs);
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-160;
        color: var.$color-gray-700;
        text-align: center;
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b3);
        }
      }
      .text {
        p {
          text-align: left;
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-light;
          line-height: var.$line-height-160;
          color: var.$color-gray-700;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b3);
          }
        }
      }
      .stack-l {
        height: 4vmax;
      }
    }
  }
  &text-next {
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .post-link {
      a {
        gap: map-get(var.$spacers, 9);
        .prev-title {
          width: 17%;
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-medium;
          line-height: var.$line-height-160;
          color: var.$color-primary;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b2);
          }
        }
        .prev-text {
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-regular;
          line-height: var.$line-height-160;
          color: var.$color-primary;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b2);
          }
        }
      }
    }
  }
  &detail-btn {
    padding-top: map-get(var.$spacers, 8);
    @include resp.respond-to(xl) {
      padding-top: map-get(var.$spacers, 11);
    }
    @include resp.respond-to(xxxl) {
      padding-top: map-get(var.$spacers, 14);
    }
    .detail_btn {
      text-align: center;
      .d-btn {
        font-size: var.get-font-size(b1, xs);
        font-weight: var.$font-weight-medium;
        line-height: var.$line-height-160;
        padding: 0.75rem 2.625rem;
        border-radius: 50px;
        color: var.$color-secondary;
        background-color: var.$color-primary;
        cursor: pointer;
        @include resp.respond-to(xl) {
          padding: 0.75rem 3.625rem;
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b3);
          padding: 1.125rem 5.5rem;
        }
      }
    }
  }
}
// = News-detail end ===

// = Notice-detail start ===
.Notice-detail__ {
  padding: map-get(var.$spacers, 5) 0 map-get(var.$spacers, 8) 0;
  background-color: var.$color-secondary;
  @include resp.respond-to(xl) {
    padding: map-get(var.$spacers, 22) 0 map-get(var.$spacers, 11) 0;
  }
  &title-content {
    gap: map-get(var.$spacers, 5);
    @include resp.respond-to(xl) {
      gap: map-get(var.$spacers, 11);
    }
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .title {
      text-align: left;
      h2 {
        font-size: var.get-font-size(h3, xs);
        font-weight: var.$font-weight-medium;
        color: var.$color-primary;
        line-height: var.$line-height-140;
        @include resp.respond-to(xl) {
          // 폰트
          font-size: 44px;
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(h2);
        }
      }
    }
    .date {
      justify-content: space-between;
      span {
        display: inline-block;
        font-size: var.get-font-size(b2, xs);
        font-weight: var.$font-weight-light;
        color: var.$color-gray-500;
        line-height: var.$line-height-140;
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b4);
        }
      }
    }
  }
  &textarea {
    padding: map-get(var.$spacers, 5) 0;
    @include resp.respond-to(xl) {
      padding: map-get(var.$spacers, 8) 0;
    }
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .text-form {
      border-top: 2px solid var.$color-primary;
      border-bottom: 1px solid var.$color-gray-500;
      .text-form__img {
        padding-top: map-get(var.$spacers, 7);
        img {
          width: 100%;
        }
      }
      .text-title {
        display: block;
        padding: map-get(var.$spacers, 7) 0;
        font-size: var.get-font-size(b1, xs);
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-160;
        color: var.$color-gray-700;
        text-align: center;
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b3);
        }
      }
      .text {
        p {
          text-align: left;
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-light;
          line-height: var.$line-height-160;
          color: var.$color-gray-700;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b3);
          }
        }
      }
      .stack-l {
        height: 4vmax;
      }
    }
  }
  &text-next {
    .col-8 {
      width: 100%;
      @include resp.respond-to(xl) {
        width: 66.66667%;
      }
    }
    .post-link {
      a {
        gap: map-get(var.$spacers, 9);
        .prev-title {
          width: 17%;
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-medium;
          line-height: var.$line-height-160;
          color: var.$color-primary;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b2);
          }
        }
        .prev-text {
          font-size: var.get-font-size(b1, xs);
          font-weight: var.$font-weight-regular;
          line-height: var.$line-height-160;
          color: var.$color-primary;
          @include resp.respond-to(xxxl) {
            font-size: var.get-font-size(b2);
          }
        }
      }
    }
  }
  &detail-btn {
    padding-top: map-get(var.$spacers, 8);
    @include resp.respond-to(xl) {
      padding-top: map-get(var.$spacers, 11);
    }
    @include resp.respond-to(xxxl) {
      padding-top: map-get(var.$spacers, 14);
    }
    .detail_btn {
      text-align: center;
      .d-btn {
        font-size: var.get-font-size(b1, xs);
        font-weight: var.$font-weight-medium;
        line-height: var.$line-height-160;
        padding: 0.75rem 2.625rem;
        border-radius: 50px;
        color: var.$color-secondary;
        background-color: var.$color-primary;
        cursor: pointer;
        @include resp.respond-to(xl) {
          padding: 0.75rem 3.625rem;
        }
        @include resp.respond-to(xxxl) {
          font-size: var.get-font-size(b3);
          padding: 1.125rem 5.5rem;
        }
      }
    }
  }
}

// .Notice-detail__ {
//   padding: map-get(var.$spacers, 11) 0;
//   background-color: var.$color-secondary;
//   &title-content {
//     .title {
//       text-align: left;
//       padding: map-get(var.$spacers, 14) 0;
//       h2 {
//         font-size: var.get-font-size(h2);
//         font-weight: var.$font-weight-medium;
//         color: var.$color-primary;
//         line-height: var.$line-height-140;
//       }
//     }
//     .date {
//       justify-content: space-between;
//       p {
//         font-size: var.get-font-size(b4);
//         font-weight: var.$font-weight-light;
//         color: var.$color-gray-500;
//         line-height: var.$line-height-140;
//       }
//     }
//   }
//   &textarea {
//     padding: map-get(var.$spacers, 7) 0;
//     .text-form {
//       border-top: 2px solid var.$color-primary;
//       border-bottom: 1px solid var.$color-gray-500;
//       .text-title {
//         display: inline-block;
//         padding: map-get(var.$spacers, 7) 0;
//         font-size: var.get-font-size(b3);
//         font-weight: var.$font-weight-light;
//         line-height: var.$line-height-160;
//         color: var.$color-gray-700;
//       }
//       .text {
//         p {
//           text-align: left;
//           font-size: var.get-font-size(b3);
//           font-weight: var.$font-weight-light;
//           line-height: var.$line-height-160;
//           color: var.$color-gray-700;
//         }
//       }
//       .stack-l {
//         height: 4vmax;
//       }
//     }
//   }
//   &text-next {
//     .post-link {
//       a {
//         font-size: var.get-font-size(b2);
//         font-weight: var.$font-weight-regular;
//         line-height: var.$line-height-160;
//         color: var.$color-primary;
//         gap: map-get(var.$spacers, 10);
//       }
//     }
//   }
//   &detail-btn {
//     padding: map-get(var.$spacers, 14) 0 map-get(var.$spacers, 22) 0;
//     .detail_btn {
//       .d-btn {
//         padding: 1.125rem 5.5rem;
//         font-family: var.$font-body;
//         font-size: var.get-font-size(b3);
//         border-radius: 50px;
//         line-height: var.$line-height-160;
//         cursor: pointer;
//         background-color: var.$color-primary;
//         color: var.$color-secondary;
//         font-weight: var.$font-weight-medium;
//       }
//     }
//   }
// }
// = Notice-detail end ===
